<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UShare</title>

        <meta name="description"    content="uploading website">
        <meta name="author"         content="Eoin Walsh">
        <meta name="keywords"       content="files">

        <link rel="stylesheet" type="text/css" href="/globalStyle.css">
    </head>
    <body>
        <div class="topbanner" id="top">
            <h1><a href="/index">UShare</a></h1>
            <h2><%= msg %></h2>
            <h3>Return to homepage above</h3>
        </div>
    </body>
</html>