<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UShare</title>

        <meta name="description"    content="uploading website">
        <meta name="author"         content="Eoin Walsh">
        <meta name="keywords"       content="files">

        <link rel="stylesheet" type="text/css" href="globalStyle.css">
    </head>
    <body>
        <div class="topbanner" id="top">
            <h1><a href="index">UShare</a></h1>
            <h4>User table taken from lectures</h4>
        </div>


        <div class="navbar">
            <a href="upload">Upload</a>
            <a href="register">Register</a>
        </div>

        <div class="maincontent">
            <form action="/login" method="post">
                <div class="login">Username: <input type="text" name="username"></div>
                <div class="login">Password: <input type="password" name="password"></div>
                <input class="login" type="submit" value="Login">
            </form>
        </div>
    </body>
</html>